html
    head
        title= title
        link(href='styles.css', rel='stylesheet')
        link(href='bootstrap.min.css', rel='stylesheet')
    body
        div#app
        script(src='bundle.js', type='text/javascript')

